:root {
    --container-width: 640px;
    --container-width-mobile: 420px;
    --content-width: 640px;
    
    --background-color: var(--color-base-0);
    --text-color: var(--color-text-0);

    --link-color: var(--color-primary-2);
    --link-color-hover: var(--color-primary-1);

    --code-color: var(--color-secondary);

    --color-subtle: var(--color-text-1);
    --color-sublime: var(--color-text-2);

    --border-radius: var(--sp);
    --border-radius-round: var(--sp2);

    --input-size: var(--sp5-5);
    --input-size-small: var(--sp3);
    --input-size-smaller: var(--sp2);
    --input-size-large: var(--sp6);
    --input-size-larger: var(--sp6);
    
    --image-size: var(--sp24);
    --image-size-icon: var(--sp4);

    --image-size-smallest: var(--sp8);
    --image-size-smaller: var(--sp12);
    --image-size-small: var(--sp16);
    
    --image-size-large: var(--sp24);
    --image-size-larger: var(--sp36);
    --image-size-largest: var(--sp48);

    --image-hover-scale: 1.03;
}

.theme-dark {

}
